<h1
  class="w-full absolute -left-6 top-0 flex items-start font-extrabold -skew-x-[20deg] text-rose-600 text-center text-5xl sm:text-7xl lg:text-8xl"
>
  <div
    class="bg-rose-600 text-cyan-300 tracking-widest flex flex-col items-end justify-center pr-1 leading-3 sm:leading-6 text-sm sm:text-2xl lg:text-3xl h-12 sm:h-[4.5rem] lg:h-24 pl-[20%] lg:pl-[25%] xl:2xl:pl-[35%]"
  >
    <span class="w-min text-right">just another</span>
  </div>

  <span
    class="text-white bg-gradient-to-l from-white from-50% to-rose-600 to-50% [text-shadow:_-2px_3px_0_rgb(225_29_72)]"
    >T</span
  ><span class="text-left whitespace-nowrap">IC TAC TOE</span>
</h1>

<div
  class="w-3/5 sm:w-1/2 lg:w-1/3 xl:2xl:w-1/4 text-center ml-auto mr-auto mt-16 sm:mt-32 lg:mt-44"
>
  <app-verdict></app-verdict>

  <app-game-grid></app-game-grid>

  <button
    data-test="reset-button"
    (click)="resetGame()"
    class="bg-yellow-300 text-rose-600 font-medium tracking-wider px-12 py-2 sm:py-3 w-full sm:w-auto mt-6 sm:mt-9 text-lg sm:text-xl lg:text-2xl"
    [ngClass]="{
      'animate-bounce':
        (winner$ | async) || (verdict$ | async)?.includes('draw')
    }"
  >
    Reset game
  </button>
</div>
